/* ------------------------------
   GOOGLE FONTS
--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&family=Poppins:wght@100;400;600;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --verd-1: #986bd3;
  --verd-2: #eb7d4a;
  --verd-3: #986bd3;
  --verd-clar: #A8E3D4;
  --fons: #ffffff;
  --text: #0D1B1E;
  --blur: rgba(255,255,255,0.45);
}

/* --------------------------------- BODY ----------------------------------*/
body {
  font-family: "Inter", sans-serif;
  background: var(--fons);
  color: var(--text);
  padding-top: 0px;
}

/* --------------------------------- NAVBAR ------------------------------------*/
nav {
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,0.35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 10px 4px 15px 2px #ddd;
  z-index: 99;
}

nav .logo {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2rem;
  color: var(--verd-1);
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: var(--verd-1);
  font-weight: 500;
  transition: letter-spacing .6s, color .6s;
}

nav a:hover {
  letter-spacing: 1.4px;
  color: var(--verd-2);
  
}

nav .active {
  color: var(--verd-2);

}

/* ------------------------------
   HERO (degradat animat)
--------------------------------*/
.hero {
    height: 70vh;
    background: linear-gradient(100deg, 
      #dccf70,  /* verde medio */
      #e97f2f,  /* verde azulado */
      #af71dc,  /* verde claro */
      #68b7ec   /* verde oscuro */
  );

    background-size: 300% 300%;
    animation: bgShift 6s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 40px;
}

@keyframes bgShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.hero h1 {
    font-family: "Poppins";
    font-weight: 800;
    font-size: 3.5rem;
    margin-bottom: 15px;
}

.hero p {
    max-width: 600px;
    line-height: 1.5;
    font-size: 1.1rem;
}

.hero button {
    margin-top: 30px;
    padding: 14px 30px;
    background: white;
    color: #333;
    border-radius: 30px;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    transition: transform .3s, background .3s, letter-spacing .3s;
}

.hero button:hover {
    transform: translateY(-4px) scale(1.05);
    background: transparent;
    letter-spacing: 2px;
    cursor: pointer;
    color: #ffffff;
}


/* ------------------------------
   TARGETES 
--------------------------------*/
.targetes {
    padding: 100px 70px 120px 70px;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    perspective: 1000px; 
}

/* Tarjeta base */
.card {
    position: relative;
    width: 200px;      
    height: 280px;
    border-radius: 18px;
    overflow: hidden;
    background: #fff;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.50);
    cursor: pointer;

    /* transición para transform + box-shadow + z-index */
    transition: transform 1.5s ease-in-out, box-shadow 1.5s ease-in-out;
    z-index: 1;
}

/* Imagen dentro de la tarjeta */
.card img {
  position: absolute;     /* Las apila sin romper nada */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .8s ease-in-out; /* mejor transición */
}

/* Aparece letras cuando hover */
.card::after {
    content: attr(data-title);
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 1.4rem;
    font-family: "Poppins";
    font-weight: 600;
    opacity: 0;
    transition: opacity 1.5s ease-in-out; /*aparece texto con opacidad progresiva*/
}

/* Hover: levanta tarjeta, zoom fuerte y sombra marcada */
.card:hover {
    transform: translateY(-10px) scale(1.5); /* moverse un poco para arriba, zoom */
    box-shadow: 0 24px 48px rgba(0,0,0,0.38);
}


/* Hover efecto zoom */
.card:hover::after {
    opacity: 1;
    transform: translateY(10);
}

/* Diferentes transicions segons tipo */
.card.linear {
    transition-timing-function: linear;
}

.card.easein {
    transition-timing-function: ease-in;
}

.card.easeout {
    transition-timing-function: ease-out;
}

.card.ease {
    transition-timing-function: ease;
}


/* Imagen alternativa oculta */
.card img.back {
  opacity: 0;
}

/* Al hacer hover, intercambiamos opacidades */
.card:hover img.front {
  opacity: 0;
}

.card:hover img.back {
  opacity: 1;
}





/* ------------------------------
   MENÚ SECUNDARI 
--------------------------------*/
.menu-secundari {
    display: flex;
    justify-content: center;
    gap: 170px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.menu-secundari a {
    position: relative;
    text-decoration: none;
    color: var(--verd-3);
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.3s, transform 0.3s;
    }

/* Subrayado animado */
.menu-secundari a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: var(--verd-2);
    transition: width 0.4s ease;
}

/* Hover: color, subrayado y ligero desplazamiento */
.menu-secundari a:hover {
  color: var(--verd-2);
  transform: translateY(-2px);
}

.menu-secundari a:hover::after {
  width: 100%;
}



/* ------------------------------
 BOTÓ FLOTANT
--------------------------------*/
.fab {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: var(--verd-3);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content:center;
  font-size: 32px;
  cursor:pointer;
  box-shadow:0 6px 14px rgba(0,0,0,0.2);
  transition: transform .3s, box-shadow .3s, background .3s;
}

.fab:hover {
  transform: scale(1.15) rotate(10deg);
  background: var(--verd-2);
  box-shadow:0 10px 24px rgba(0,0,0,.28);
}







/* ---------------------------- GALERIA - ANIMACIONS -------------------------------*/
/* ---------------------------------------------------------------------------------*/


/* ----------- LOADER ---------*/

.loader {
  width: 80px;
  height: 80px;
  border: 8px solid #f7f9f9;        
  border-top: 8px solid #58a599;  /* parte visible que gira */
  border-radius: 50%;              /* círculo completo */
  animation: spin 1s linear infinite; /* rotación continua */
  margin: 80px 0 150px 0;
}

/* Animación de giro */
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}



/* ------- ANIMACIÓ PRINCIPAL---------*/

.animated-block {
  width: 200px;
  height: 200px;
  background: #eb7d4a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  border-radius: 20px;
  animation: bounceAndSpin 4s ease-in-out infinite alternate;
  margin-bottom: 80px;
}

@keyframes bounceAndSpin {
  0% {
    transform: translateY(0) rotate(0deg);
    background: #ec8381;
    opacity: 1;
  }
  25% {
    transform: translateY(-40px) rotate(90deg);
    background: #986bd3;
    opacity: 0.8;
  }
  50% {
    transform: translateY(0) rotate(180deg);
    background: #68b7ec;
    opacity: 1;
  }
  75% {
    transform: translateY(-20px) rotate(270deg);
    background: #A8E3D4;
    opacity: 0.9;
  }
  100% {
    transform: translateY(0) rotate(360deg);
    background: #e9d88d;
    opacity: 1;
  }
}



/* ------ SCROLL-REVEAL BLOCKS -----------*/
.scroll-reveal-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    width: 100%;
    max-width: 400px;
    margin-top: 150px;
    margin-bottom: 350px;
}

/* Estado inicial totalmente invisible */
.reveal-block {
    background: #e7ac84;
    color: white;
    padding: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(100px) scale(0.8);
}

/* ------------------------------
   REVEAL REAL CON SCROLL
   (solo si el navegador soporta view-timeline)
--------------------------------*/
@supports (animation-timeline: view()) {
  .reveal-block {
    animation: reveal 1.2s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
}

/* ------------------------------
bloques aparecen al cargar la página si no soporta 
--------------------------------*/
@supports not (animation-timeline: view()) {
  .reveal-block {
    animation: entrada_basica 1.2s ease-out forwards;
  }
}

/* KEYFRAMES */
@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.4);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

@keyframes entradabasica {
  from {
    opacity: 0;
    transform: translateY(100px) scale(0.8);
    filter: blur(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}





/* --------------------------------- GUIA D'ESTIL ----------------------------------*/
/* ---------------------------------------------------------------------------------*/

.reveal{
    margin: 50px;
}

/* Bloques generales */
.mostra-fonts .fonts-exemple div {
  margin: 50px 0;
  padding: 20px;
  border-left: 4px solid var(--verd-2);
}

/* Escala tipográfica (REM) */
h1 { font-size: 2.5rem; font-weight: 800; line-height: 1; letter-spacing: 3.5px; }
h2 { font-size: 2rem; font-weight: 600; line-height: 1.5; letter-spacing: -0.2px; }
h3 { font-size: 1.5rem; font-weight: 400; line-height: 2.5; letter-spacing: -2.5px;}

/* Texto base */
.p-normal {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

/* Estilos descriptivos */
.details {
  font-size: 0.875rem;
  
}

/* Alinear Iconos y texto misma línea con baseline */
.icons-exemple {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin: 5px 0 40px 0;
}

.baseline-icon {
  font-size: 32px;
  vertical-align: baseline;
  color: var(--verd-3);
  cursor: pointer;
  transition: .3s;
}

.baseline-icon:hover {
  transform: scale(1.2);
  color: var(--verd-2);
}

.baseline-text {
  font-size: 1rem;
}

/* - Accessibilitat - */
.contrast-ok {
  background: #000;
  color: #fff;
  padding: 10px;
  margin-bottom: 8px;
}

.text-minim {
  font-size: 0.875rem; /* 14px */
  color: #333;
}





/* - - - - Material icones - - - - */

.icons-exemple span {
  margin-right: 25px;
  transition: transform .3s, color .3s;
  cursor: pointer;
  color: var(--verd-3);
}

.icons-exemple span:hover {
  transform: scale(1.3);
  color: var(--verd-2);
}

button {
  margin: 15px 15px 15px 0;
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  background: var(--verd-3);
  color: white;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: transform .3s, background .3s, box-shadow .3s;
  cursor: pointer;
}

button:hover {
  transform: translateY(-3px) scale(1.05);
  background: var(--verd-2);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.colors-exemple {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.color-box {
  padding: 15px;
  border-radius: 12px;
  color: white;
  min-width: 140px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  transition: transform .3s, box-shadow .3s;
  cursor: pointer;
}

.color-box:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0,0,0,0.35);
}


/* ------------------------------
   RESPONSIVE
--------------------------------*/
@media (max-width: 768px) {
  nav { padding: 10px 20px; }

  .hero h1 { font-size: 2.4rem; }
  .targetes { padding: 40px 20px; }
  .card { width: 90%; height: 320px; }
}
