/* ------------------------------
   GOOGLE FONTS
--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&family=Poppins:wght@100;400;600;800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --verd-1: #986bd3;
  --verd-2: #eb7d4a;
  --verd-3: #986bd3;
  --verd-clar: #A8E3D4;
  --fons: #ffffff;
  --text: #0D1B1E;
  --blur: rgba(255,255,255,0.45);
}

/* --------------------------------- BODY ----------------------------------*/
body {
  font-family: "Inter", sans-serif;
  background: var(--fons);
  color: var(--text);
  padding-top: 0px;
}

/* --------------------------------- NAVBAR ------------------------------------*/
nav {
  position: sticky;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(255,255,255,0.35);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 10px 4px 15px 2px #ddd;
  z-index: 99;
}

nav .logo {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2rem;
  color: var(--verd-1);
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: var(--verd-1);
  font-weight: 500;
  transition: letter-spacing .6s, color .6s;
}

nav a:hover {
  letter-spacing: 1.4px;
  color: var(--verd-2);
  
}

nav .active {
  color: var(--verd-2);

}